@model Proyecto_Majestic.Empleado

@{
    ViewBag.Title = "Edit";
}

<h2>Actualizar Empleado</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.cod_emp)

    <div class="form-group">
        @Html.LabelFor(model => model.nom_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ape_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ape_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ape_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dni_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dni_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dni_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha_in_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha_in_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha_in_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telf_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telf_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telf_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sexo_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.sexo_emp, (SelectList)ViewBag.lstSexos, "Seleccionar", new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.sexo_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.num_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.num_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.num_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.est_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.est_emp)
                <label>Habilitado</label>
                @Html.ValidationMessageFor(model => model.est_emp, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="mb-3"></div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div class="mb-3"></div>
<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
