@model Proyecto_Majestic.Marca

@{
    ViewBag.Title = "Details";
}

<h2>Ver Marca</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_mar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_mar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_mar)
        </dt>

        @if (Model.est_mar == true)
        {
            <dd>Habilitado</dd>
        }
        else
        {
            <dd>Deshabilitado</dd>
        }

    </dl>
</div>
<p>
    <div class="mb-3"></div>
    <div>
        @Html.ActionLink("Actualizar", "Edit", new { id = Model.cod_mar}, new { @class = "btn btn-primary" })
    </div>
    <div class="mb-3"></div>
    <div>
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</p>
